<h1>Register for a MagisterAmatoris Accout!</h1>
<br><br>
<form class="row">
    <label>Username</label>
    <input class="" ng-model="username"></input>
    <label>First Name</label>
    <input class="" ng-model="firstName"></input>
    <label>LastName</label>
    <input class="" ng-model="lastName"></input>
    <label>Description</label>
    <input class="" ng-model="description"></input>
    <label>Avatar</label>
    <input class="" ng-model="avatar"></input>
    <label>Email</label>
    <input class="" ng-model="email"></input>
    <label>Password</label>
    <input class="" ng-model="password"></input>
    <label>Description</label>
    <input class="" ng-model="description"></input>
    <label>DOB</label>
    <input class="" ng-model="dob"></input>
    <label>Phone</label>
    <input class="" ng-model="phone"></input>
    <label>Address Line 1</label>
    <input class="" ng-model="street"></input>
    <label>State</label>
    <input class="" ng-model="state"></input>
    <label>Website</label>
    <input class="" ng-model="website"></input>
    <label>Gender</label>
    <input class="" ng-model="gender"></input>
    <button ng-click="">Submit</button>
</form>
